header{
    color: orange;
    align-items: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;   
}
section{
    color:greenyellow;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    color: orange;
}
a{
    color:papayawhip;
}


    
  
  